body{
  display: grid;
  grid-template-rows: 55px 592px 400px 400px 400px 400px;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "phone" "conduce" "tarifa" "footer";
}
header{
  grid-area: header;
}
main{
  grid-area: main;
  background-image: url(../assets/images/taxi.jpg);
  width: 100vw;
  height: 592px;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  margin: 0px;
  display: flex;
  justify-content: flex-end;
  align-items:center;
}
hr{
  background-color: #fff;
}
.hr{
  display: flex;
  flex-direction: row;
  width: 319px;
}
.formulario hr{
  width: 120px;
}
.formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f7b617;
  width: 42vw;
  height: 60vh;
  padding: 55px;
}
.button{
  border-radius: 5px;
  background-color: #fff;
  padding: 3px;
}
.buttonRegistrate{
  width: 100px;
}
.buttonConviertete{
  width: 240px;
}
.iPhone{
  background-color: #f7b617;
  grid-area: phone;
  display: flex;
  flex-direction: row;
  padding: 50px 60px 50px 100px;
}
.iPhoneTexto{
  width: 386px;
  padding-left: 100px;
  font-size: 18px;
}
.conduce{
  grid-area: conduce;
  background-image: url(../assets/images/conduce.jpg);
  width: 100vw;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: center;
  display: flex;
  justify-content: flex-end;
}
.transparencia {
  background-color: #262626;
  filter:alpha(opacity=50);
  opacity: 0.5;
  -moz-opacity:0.5;
  -webkit-opacity:0.5;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

.botao{
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    border: 0px;
}
.tarifas{
  background-color: #f7b617;
  grid-area: tarifa;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.divTarifa{
  width: 400px;
  margin: 0px;
  font-size: 17px;
}
.buttonTarifa{
  background-color: #fff;
  border-radius: 3px;
  border: 0px;
}
.divTarifa input{
  width: 300px;
  padding: 5px;
  background-color: #f7b617;
  border: 1px solid #fff;
  margin-bottom: 10px;
  border-radius: 5px;
}
footer{
  background-color: #2b2b2b;
  grid-area: footer;
  padding: 20px 40px 20px 40px;
}
footer nav{
  display: flex;
  justify-content: space-around;
}
.icones1{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
}
.baixar img{
  margin: 10px;
}
.baixar{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
#modalSessao img{
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin-left: 30px;
}
.fundoModal{
  background-color: #08AC9D;
  width: 300px;
}
.modalTexto{
  background-color: #fff;
  color: #000;
  margin: 15px;
  padding: 19px;
  text-align: center;
}
#login input{
  margin-bottom: 10px;
  border-radius: 5px;
}
.fundoModalRegistro{
  width: 34vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C1C1C1;
  padding: 5px;
}
.fundoModalRegistro input{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 30vw;
}
.fundoModalRegistro .nameApelido{
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.fundoModalRegistro .nameApelido input{
  width: 14.5vw;
}
.fundoModalCondutor{
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #C1C1C1;
padding: 5px;
}
.fundoModalCondutor input{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
}
select{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 40vw;
  height: 5vh;
}

@media screen and (max-width: 576px) {

}
